@import "shared";

$primary: $pink;

$navbar-tab-hover-border-bottom-color: $primary;
$navbar-tab-active-background-color: $primary;
$navbar-tab-active-border-bottom-color: $primary;
$navbar-item-hover-color: $primary;
